@model EasyTravelInTaiwan.Models.member

@{
    ViewBag.Title = "會員資料";
}

<h2>會員資料</h2>

<fieldset>
    <legend>member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sex)
    </div>
    <div class="display-field">
        @{
            if(Model.Sex == "Female"){@Html.Label("女");}
            if(Model.Sex == "Male"){@Html.Label("男");}    
        }
        @*@Html.DisplayFor(model => model.Sex)*@
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAddress)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Role)
    </div>
    <div class="display-field">
        @{
            if (Model.Role == 0){@Html.Label("管理者");}
            if (Model.Role == 1){@Html.Label("店員");}
            if (Model.Role == 2){@Html.Label("會員");}                                                    
         }
    </div>
    <br>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
