@using BootstrapSupport
@model EasyTravelInTaiwan.Models.member
@{
    //Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
@{
    ViewBag.Title = "會員資料 - Easy Travel In Taiwan";
}

<style>
    /*.textColor {
        color: rgba(173, 169, 169, 1.00);
        padding: 0px 0px 0px 30px;
    }*/

    .headForm {
        color: rgba(173, 169, 169, 1.00);
        font-weight: bold;
        font-family: Arial;
    }

    /*.labelFont {
        font-size: 18px;
        /*font-weight:bold;*/
    /*color: #e8e8e8;
        padding: 0px 0px 0px 30px;
    }*/

    .position {
        padding: 0px 0px 0px 40px;
    }
</style>
<div class="position">
    <br>
    <fieldset>
        <legend class="span10">個人資料</legend>
        <br />
        <br />
        <br />
        <br />
        <div class="well">
            <div class="display-label labelFont">
                @Html.DisplayNameFor(model => model.Account)
            </div>
            <div class="display-field textColor">
                @Html.DisplayFor(model => model.Account)
            </div>
        </div>
        <br>
        <div class="well">
            <div class="display-label labelFont">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="display-field textColor">
                @Html.DisplayFor(model => model.Name)
            </div>
            <br>
        </div>
        <div class="well">
            <div class="display-label labelFont">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="display-field textColor">
                @Html.DisplayFor(model => model.Email)
            </div>
            <br>
        </div>
        <div class="well">
            <div class="display-label labelFont">
                @Html.DisplayNameFor(model => model.Sex)
            </div>
            <div class="display-field textColor">
                @{
                    if (Model.Sex == "Male")
                    {@Html.Label("男");
                    }
                    if (Model.Sex == "Female")
                    { @Html.Label("女");
                    }
                }
                @*@Html.DisplayFor(model => model.Sex)*@
            </div>
            <br>
        </div>
        <div class="well">
            <div class="display-label labelFont">
                @Html.DisplayNameFor(model => model.Birthday)
            </div>
            <div class="display-field textColor">
                @Html.DisplayFor(model => model.Birthday)
            </div>
        </div>
        <br />
            @Html.Action("PersonalInfo", "Member", new { User = Model.UserID })
        <br />
    </fieldset>
    @*    <p class="textColor">
        @Html.ActionLink("Account Setting", "EditAccount", "Member")
        <br>
        <br>
        @Html.ActionLink("HomePage", "Index", "Home")
    </p>*@

</div>
