@model EasyTravelInTaiwan.Models.member


<h2>會員資料</h2>

<fieldset>
    <legend>會員資料</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sex)
    </div>
    <div class="display-field">
        @{
            if (Model.Sex == "Male"){@Html.Label("男");}
            if (Model.Sex == "Female"){ @Html.Label("女"); }
        }
        @*@Html.DisplayFor(model => model.Sex)*@
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAddress)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <br />
    <br>
</fieldset>
<p>
    @Html.ActionLink("修改會員資料", "EditAccount", "Member")
</p>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
