@model EasyTravelInTaiwan.Models.LoginModel

@{
    ViewBag.Title = "登入";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}
<div id="ReturnUrl" class="hidden">@ViewBag.ReturnUrl</div>
<div style="text-align: center; vertical-align: middle;">
    @using (Html.BeginForm("LogIn", "Member", new { returnUrl = ViewBag.ReturnUrl }))
    {
        <form>
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">請登入會員</h2>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "使用者名稱" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <br />
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password, new { placeholder = "密碼" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br />
            <div class="editor-field form-inline">
                @Html.CheckBoxFor(model => model.RememberMe)
                @Html.LabelFor(model => model.RememberMe, new { @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
            <br />
            @*@Html.ActionLink("忘記帳號密碼?", "ForgetPassword", "Member")*@
            <br />
            <button type="submit" class="btn btn-primary">登入</button>
            <button class="btn btn-primary" type="button" onclick="FacebookLogin()"><img alt="140x140" src="~/Content/images/FB-logo.png" width="20" height="20" /></button>
            @Html.ActionLink("註冊會員", "Register", "Member", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("回首頁", "Index", "Index", null, new { @class = "btn btn-primary" })
        </form>
    }
</div>

<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script>
    var url = $('#ReturnUrl').val();
    console.log(url);
    window.fbAsyncInit = function () {
        FB.init({
            appId: '544818928892863', // App ID
            //channelUrl: 'http://localhost:51145/', // Channel File
            channelUrl: 'http://easytravelintaiwan.no-ip.info/',
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        FB.Event.subscribe('auth.authResponseChange', function (response) {

            console.log(response);
            if (response.status === 'connected') {
                //already logged-in
            }
            else if (response.status === 'not_authorized') {
                // first time login
                FacebookLogin();
            } else {
                // auto-login
                FacebookLogin();
            }
        });
    };

    // Load the SDK asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    function FacebookLogin() {
        FB.login(function (response) {
            console.log(response);
            if (response.authResponse) {
                FB.api('/me', function (response) {
                    var fbID = response.id;
                    var fbName = response.name;
                    var fbEmail = response.email;
                    location.href = '/Member/FacebookLogin?fbID=' + fbID + '&fbName=' + fbName + '&fbEmail=' + fbEmail + '&sex=' + response.gender + '&returnUrl=' + url;
                });
            }
        }, { scope: 'email' });
    }
</script>