<ul id="HotHotel">
    @foreach (EasyTravelInTaiwan.Models.view item in Model)
    {                
        <li class="searchItemBorder">
            <div class="row">
                <div class="column">
                    <div class="span2" style="max-width: 150px">
                        <a href="@Url.Action("ViewPointDetails", "Map", new { id = item.Id })" title="@item.Name">
                            <img src="@Url.Action("RenderBookImage", "Search", new { id = item.Id, pt = item.Pt })" width="150" height="150" alt="@item.Name"/>
                        </a>
                    </div>
                    
                    <div class="span6" style="max-width: 520px">
                        @Html.Raw(item.Description)
                        <a href="@Url.Action("ViewPointDetails", "Map", new { id = item.Id })" title="@item.Name">點我看詳細內容</a>
                    </div>
                </div>
            </div>
        </li>
        <br />
    }
</ul>
