@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="~/EzIcon.ico" />
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <style type="text/css">
        html, body, #Container {
            height: 100%;
        }
    </style>
    @*<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
    @*<link href="#" rel="stylesheet" />*@
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index", "Index")" title="回首頁">EasyTravelInTaiwan</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @Html.Navigation()
                    </ul>
                    <div class="nav-collapse collapse">
                        <div class="navbar-form pull-right">
                            @if (!User.Identity.IsAuthenticated)
                            {
@*<button class="btn btn-primary" type="button" onclick="FacebookLogin()">
                                    <img alt="140x140" src="~/Content/images/FB-logo.png" width="20" height="20" />
                                </button>*@
                                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">登入</a>
                            }
                            else
                            {
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Welcome !! @Session["UserName"]</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Member/Index"><i class="icon-pencil"></i>會員資料</a></li>
                                        <li><a href="~/Member/Home?User=@Session["UserId"]"><i class="icon-list-alt"></i>我的首頁</a></li>
                                        @*<li><a href="~/Book/IndexTrace"><i class="icon-list-alt"></i>我的收藏</a></li>*@
                                        @*<li><a href="~/Rating/Index"><i class="icon-list-alt"></i> 評分列表</a></li>*@
                                    </ul>
                                </div>
                                <button id="LogoutBtn" class="btn btn-primary" type="button" onclick="Logout()">登出</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts")
        @Html.Partial("_validationSummary")
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Company Easy Travel In Taiwan @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    <script src="~/scripts/jquery.cookie.js"></script>
    <script src="~/scripts/fbAuthJScript.js"></script>

    @Scripts.Render("~/js")
    @*<script src="~/scripts/bootstrap-typeahead.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>*@
    @*    <script src="~/scripts/jquery.rating.js"></script>*@
    @RenderSection("Scripts", required: false)

    <!--Login Page -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">登入</h3>
        </div>
        <div class="modal-body">
            <br />
            @Html.Action("HomeSignInPartial", "Member")
            @*<ul class="nav nav-tabs" id="signInTab">
                <li class="active"><a href="#logIn" data-toggle="tab">登入</a></li>
                <li><a href="#signUp" data-toggle="tab">註冊</a></li>
            </ul>
            <div class="tab-content">
                <!--Login -->
                <br />
                <div class="tab-pane active" id="logIn" style="max-height: 300px">
                    @Html.Action("HomeSignInPartial", "Member")
                </div>
                <!--Sign up -->
                <div class="tab-pane" id="signUp" style="max-height: 300px">
                    @Html.Action("HomeSignUpPartial", "Member")
                </div>
            </div>*@
        </div>
    </div>
</body>
</html>

<style type="text/css">
    #myModal {
        width: 300px;
        /*margin-top: -300px ;*/
        margin-left: -150px;
    }

        #myModal .modal-body {
            max-height: 525px;
        }
</style>

<script type="text/javascript">
    // 讓 alert 自動消失 (五秒)
    $(".alert").addClass("in");
    window.setTimeout(function () { $("#MainAlert").fadeOut(); }, 1000);

    $('#myModal').on('show', function () {
        $(this).find('.modal').css({
            width: '100px',
            height: '100px',
            'max-height': '100%'
        });
    });

    //$('#MainAlert').click(function () {
    //    $.growlUI('已經登出');
    //});

    //var $ = jQuery.noConflict();
    $(document).ready(function () {
        //$('#myCarousel').carousel({ interval: 3000, cycle: true });
        FacebookInit();
    });

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=544818928892863";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>






