@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    @*<link href="#" rel="stylesheet" />*@
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    <script src="~/scripts/fbAuthJScript.js"></script>
    @* favicons and touch icons go here *@
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index", "Index")" title="回首頁">EasyTravelInTaiwan</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @Html.Navigation()
                    </ul>
                    <div class="nav-collapse collapse">
                        <div class="navbar-form pull-right">
                            @*@Html.ActionLink("回首頁", "GoHomePage", "Home", null, new { @class = "btn btn-primary" })*@
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <button class="btn btn-primary" type="button" onclick="FacebookLogin()">
                                    <img alt="140x140" src="~/Content/images/FB-logo.png" width="20" height="20" />
                                </button>
                                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">登入</a>
                            }
                            else
                            {
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i>&nbsp;&nbsp;Welcome !! @Session["UserName"]</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Member/Index"><i class="icon-pencil"></i>會員資料</a></li>
@*                                        <li><a href="~/ShoppingCart/Index"><i class="icon-shopping-cart"></i>購物車</a></li>
                                        <li><a href="~/OrderList/OrderIndex"><i class="icon-list-alt"></i>訂單查詢</a></li>*@
                                        <li><a href="~/Book/IndexTrace"><i class="icon-list-alt"></i>追蹤清單</a></li>
                                        <li><a href="~/Rating/Index"><i class="icon-list-alt"></i>評分列表</a></li>
                                    </ul>
                                </div>
                                <button id="LogoutBtn" class="btn btn-primary" type="button" onclick="Logout()">登出</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts")
        @Html.Partial("_validationSummary")
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    @Scripts.Render("~/js")
    <script src="~/scripts/bootstrap-typeahead.js"></script>
    @RenderSection("Scripts", required: false)
    
    <!--Login Page -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">登入</h3>
        </div>
        <div class="modal-body">
            <br />
            @Html.Action("HomeSignInPartial", "Member")
            @*<ul class="nav nav-tabs" id="signInTab">
                <li class="active"><a href="#logIn" data-toggle="tab">登入</a></li>
                <li><a href="#signUp" data-toggle="tab">註冊</a></li>
            </ul>
            <div class="tab-content">
                <!--Login -->
                <br />
                <div class="tab-pane active" id="logIn" style="max-height: 300px">
                    @Html.Action("HomeSignInPartial", "Member")
                </div>
                <!--Sign up -->
                <div class="tab-pane" id="signUp" style="max-height: 300px">
                    @Html.Action("HomeSignUpPartial", "Member")
                </div>
            </div>*@
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    // 讓 alert 自動消失 (五秒)
    $(".alert").addClass("in");
    window.setTimeout(function () { $("#MainAlert").fadeOut(); }, 10000);


    $('#hotSpotTab a').hover(function (e) {
        e.preventDefault();
        console.log("hover");
        $(this).tab('show');
    });

</script>



