@model IEnumerable<EasyTravelInTaiwan.Models.ViewImage>
<script src="~/scripts/bootstrap-carousel.js"></script>

<style type="text/css">
    .carousel-inner > .item > img {
        margin: 0 auto;
        height: 320px;
    }
</style>

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        @if (Model.Count() > 0)
        {
            for (var i = 0; i < Model.Count(); i++)
            {
                if (i == 0)
                {
            <li data-target="#myCarousel" data-slide-to ="@i" class="active" ></li>
                }
                else
                {
            <li data-target="#myCarousel" data-slide-to ="@i"></li>
                }
            }
        }
    </ol>
    <div class="carousel-inner">
        @if (Model.Count() > 0)
        {
            var count = 0;
            foreach (var image in Model)
            {
                if (count == 0)
                {
                    <div class="active item">
                        <img src="@Url.Action("RenderBookImage", "Map", new { id = image.Id, pt = image.pt, sid = image.sid })"/>
                        <div class="carousel-caption">
                            <h4>@image.Name</h4>
                        </div>
                    </div>
                    count = 1;
                }
                else
                {
                    <div class="item">
                        <img src="@Url.Action("RenderBookImage", "Map", new { id = image.Id, pt = image.pt, sid = image.sid })" />
                        <div class="carousel-caption">
                            <h4>@image.Name</h4>
                        </div>
                    </div>
                }
            }
        }
    </div>
    @*<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>*@
    @*<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>*@
</div>

<script type="text/javascript">
    //$('.carousel').carousel();
</script>
