@model List<EasyTravelInTaiwan.Models.travellistplace>

<div>

    <table>
        <tr>詳細位置</tr>
        <tr>
            @if (Model.Count() > 0)
            {
                <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
                    @foreach (var travellistplace in Model)
                    {
                        <li class="span3">
                            @*<a href="@Url.Action("RenderBookImage", new { id = image.sid })" title="@image.Name" class="thumbnail">
                        <img src="@Url.Action("RenderBookImage", new { id = image.sid })" width="150" height="150" alt=""/>
                    </a>*@
                            <a href="#">@travellistplace.Sno</a>
                        </li>
                    }
                </ul>
            }
            else
            { 
                <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
                </ul>
            }

        </tr>
        <tr>
            <td>
                <button id="Create-List-Button" class="btn">儲存</button>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var selectedList;
    $(document).on('click', '#InputsWrapper li', function (e) {
        //if (e.button == 1) {
        var str = $(this).attr('id');
        var n = str.split("-");
        console.log(n[1]);
        console.log(e);
        google.maps.event.trigger(gmarkers[n[1]], "click");
        //}
        //else if (e.button == 2) {
        //    var str = $(this).attr('id');
        //    var n = str.split("-");
        //    console.log(e.button);
        //}
    });


    $("#Create-List-Button").click(function () {
        var placeItems = [];
        $("#InputsWrapper").children().each(function () {
            var $this = $(this);
            var str = $(this).attr('id');
            var n = str.split("-");
            var item = { Tid: selectedList, sno: gmarkers[n[1]].gId };
            placeItems.push(item);
            console.log(gmarkers[n[1]]);
            console.log(JSON.stringify(placeItems));
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("PostPlace")",
            success: function (data) { console.log(data) },
            data: JSON.stringify(placeItems),
            contentType: 'application/json; charset=utf-8'
        });
    });
</script>