@model List<EasyTravelInTaiwan.Models.travellist>
<script src="~/scripts/bootstrap-select.js"></script>
<div id="TravelListPlaceView">
    <h3>我的旅遊清單</h3>
    <div>
        <select class="selectpicker">
            @foreach (var travellist in Model)
            {
                <option value="List-@travellist.Tid">@travellist.TName</option>
            }
        </select>
        <ul id="TravelList" class="nav nav-pills nav-stacked">
            @if (Model.Count() > 0)
            {
                foreach (var travellist in Model)
                {
                    <li id="List-@travellist.Tid">
                        <a href="#">@travellist.TName</a>
                    </li>
                }
            }
            else
            { 
                <li><a href="#">尚無旅遊清單</a></li>
            }
        </ul>
        <a href="#CreateNewListModal" role="button" class="btn" data-toggle="modal">建立新的規劃</a>
    </div>
</div>

<div id="CreateNewListModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">建立新的規畫清單</h3>
    </div>

    @using (Ajax.BeginForm("CreateNewList", "Map", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "TravelListPartialView", HttpMethod = "POST" }))
    {  
        <div class="modal-body">

            <div class="editor-label">
                @Html.Label("清單名稱")
            </div>
            <div class="editor-field">
                @Html.Editor("TravelListName")
                @*@Html.ValidationMessageFor(model => model.Account)*@
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
            <button class="btn btn-primary">儲存</button>

        </div>
    }

</div>


<script type="text/javascript">
    var selectedList;
    $("#Create-List-Button").click(function () {
        $.ajax({
            url: "@Url.Action("TravelListPartial")",
            type: "post",
            data: $("form").serialize(), //if you need to post Model data, use this
            success: function (result) {
                $("#TravelList").html(result);
            }
        });
    });

    $(document).on('click', '#TravelList li', function (e) {
        var str = $(this).attr('id');
        var n = str.split("-");
        //selectedList = n[1];
        console.log(selectedList);

    });
</script>
