@model List<EasyTravelInTaiwan.Models.travellistplace>

@*@Html.Partial("_alerts")*@

@Html.Partial("_placeAlert")

<div>詳細位置</div>
<div class="box well" id="box">
    <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
        @if (Model.Count() > 0)
        {
            foreach (EasyTravelInTaiwan.Models.view maplatlng in ViewBag.TravelListPlaces)
            {
            <li id="place.@maplatlng.Id">
                <a href="#">@maplatlng.Name<i class="icon-remove pull-right"></i></a>
            </li>
            }
        }
    </ul>
</div>
<div>
    <button id="Save-List-Button" class="btn" style="display: none;">儲存</button>
    @if ((int)ViewBag.TravelListLength > 1)
    {
        @Html.ActionLink("進行規劃", "Direction", new { tid = Model[0].Tid }, new { @class = "btn", target = "_blank" });
@*<button id="CalcDirection-Button" class="btn">進行規劃</button>*@
    }
</div>


<script type="text/javascript">
    var selectedList;

    $(document).ajaxStart($.blockUI);
    $(document).ajaxStop($.unblockUI);

    $(document).ready(function () {
        $("#box").attr("tabindex", 5000);
        $("#box").niceScroll({ autohidemode: true });
    });

    $("#CalcDirection-Button");
    $("#InputsWrapper li i").hover(
        function () {
            $(this).removeClass("icon-remove");
            $(this).addClass("icon-remove-circle");
        },
        function () {
            $(this).removeClass("icon-remove-circle");
            $(this).addClass("icon-remove");
        }
    );

    $('#InputsWrapper li').click(function () {
        //if (e.button == 1) {
        var str = $(this).attr('id');
        var n = str.split(".");
        var id;
        for (var i = 0; i < gmarkers.length; i++) {
            if (gmarkers[i].gId == n[1]) {
                id = i;
            }
        }
        google.maps.event.trigger(gmarkers[id], "click");
        gmarkers[id].setVisible(true);
    });

    // remove place event
    $("#InputsWrapper li i").click(function (e) {

        var place = $(this).parent().parent().attr('id');
        var n = place.split(".");

        for (var i = 0; i < gmarkers.length; i++) {
            if (gmarkers[i].gId == n[1]) {
                gmarkers[i].isChecked = false;
            }
        }

        var $removeLi = $(this).parent().parent();

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeletePlace")",
            data: JSON.stringify({ deletePlaceId: place }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.Status != 2) {
                    $("#TravelListPlacePartialView").html(data);
                    window.setTimeout(function () {
                        $("#SaveAlert").fadeOut().alert('close');
                        $("#box").attr("tabindex", 5000);
                        $("#box").niceScroll({ autohidemode: true });
                    }, 10000);
                }
                $("#box").niceScroll({ autohidemode: true });
            }
        });
    });

    $('#Save-List-Button').click(function () {

        var placeItems = [];

        $("#InputsWrapper").children().each(function () {
            var $this = $(this);
            var str = $(this).attr('id');
            var n = str.split(".");
            var id;
            for (var i = 0; i < gmarkers.length; i++) {
                if (gmarkers[i].gId == n[1]) {
                    id = i;
                }
            }
            var item = { Tid: selectedList, sno: gmarkers[id].gId };
            placeItems.push(item);
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("PostPlace")",
            data: JSON.stringify(placeItems),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#TravelListPlacePartialView").html(data);
                window.setTimeout(function () {
                    $("#SaveAlert").fadeOut().alert('close');
                    $("#box").attr("tabindex", 5000);
                    $("#box").niceScroll({ autohidemode: true });
                }, 1000);
                $("#box").niceScroll({ autohidemode: true });
            },
        });
    });
</script>
