@model List<EasyTravelInTaiwan.Models.travellist>

<div>

    <table>
        <tr>我的旅遊清單</tr>
        <tr>
            @if (Model.Count() > 0)
            {
                <ul id="TravelList" class="nav nav-pills nav-stacked">
                    @foreach (var travellist in Model)
                    {
                        <li id="List-@travellist.Tid" class="span3">
                            @*<a href="@Url.Action("RenderBookImage", new { id = image.sid })" title="@image.Name" class="thumbnail">
                        <img src="@Url.Action("RenderBookImage", new { id = image.sid })" width="150" height="150" alt=""/>
                    </a>*@
                            <a href="#">@travellist.TName</a>
                        </li>
                    }
                </ul>
            }
            else
            { 
                <ul id="TravelList" class="nav nav-pills nav-stacked">
                    <li><a href="#">尚無旅遊清單</a></li>
                </ul>
            }

        </tr>
        <tr>
            <td>
                <a href="#CreateNewListModal" role="button" class="btn" data-toggle="modal">建立新的規劃</a>
                @*<button  class="btn">建立新的規劃</button>*@
            </td>
        </tr>
    </table>
</div>

<div id="CreateNewListModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">建立新的規畫清單</h3>
    </div>

          
    <div class="modal-body">
        
                <div class="editor-label">
                    @Html.Label("清單名稱")
                </div>
                <div class="editor-field">
                    @Html.Editor("TravelListName")
                    @*@Html.ValidationMessageFor(model => model.Account)*@
                </div>
            
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
        <button type="submit"  class="btn btn-primary">儲存</button>
        
    </div>
            
        
</div>


<script type="text/javascript">
    var selectedList;
    $("#Create-List-Button").click(function () {
    });

    $(document).on('click', '#TravelList li', function (e) {       
        var str = $(this).attr('id');
        var n = str.split("-");
        selectedList = n[1];
        console.log(selectedList);

        $.ajax({
            url: "@Url.Action("CreateNewList")",
            type: "post",
            data: $("form").serialize(), //if you need to post Model data, use this
            success: function (result) {
                $("#TravelList").html(result);
            }
        });

    });
</script>
