@model EasyTravelInTaiwan.Models.PlaceDetail

@{
    ViewBag.Title = TempData["Title"] + "- Easy Travel In Taiwan";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<link href="~/Content/jquery.rating.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="~/scripts/jquery.rating.js"></script>


<h3>
    <ul class="breadcrumb">
        <li><a href="@Url.Action("CityViews", new { id = Model.Citynumber })">@Html.DisplayFor(model => model.CityName)</a> <span class="divider">/</span></li>
        <li class="active">@Html.DisplayFor(model => model.Name)</li>
    </ul>
    @if (ViewBag.FavoriteType == 2)
    {
        <button id="AddToFavorite" class="btn"><i class="icon-star"></i> 加入收藏</button>
    }
    else if (ViewBag.FavoriteType == 1)
    {
        <button id="IsFavorite" class="btn" disabled data-toggle="button">已加入收藏 <i class="icon-ok"></i></button>
    }
</h3>
<hr />
<div id="slideShow" class="span5 pull-right ">
    @Html.Partial("_imageSlidePartial", Model.viewimages)
</div>
<div id="AverageRatingPartial">
    @Html.Action("PlaceRatePartial", "Rating", new { sno = Model.Id })
</div>
<div>
    @Html.Hidden("Pt", (string)Session["Pt"])
    @Html.Hidden("Sno", (string)Session["Sno"])
    <div>
        <div class="display-label">
            <p>類型</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TypeName)
        </div>
        <br />
        <div class="display-label">
            <p>敘述</p>
        </div>
        <div class="display-field">
            @{
                @Html.Raw(Model.Description)
            }
        </div>
        <br />
        <div class="display-label">
            <p>連絡電話</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Telphone)
        </div>
        <br />
        <div class="display-label">
            <p>地址</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
        <br />
        <div class="display-label">
            <p>網站連結</p>
        </div>
        <div class="display-field">
            <a target="_blank" href="@Html.DisplayFor(model => model.Url)">@Html.DisplayFor(model => model.Url)</a>
        </div>
        <br />
        <div class="display-label">
            <p>乘車資訊</p>
        </div>
        <div class="display-field">
            @Html.Raw(Model.Carmethod)
        </div>
        <br />
        <div class="display-label">
            <p>其他方法</p>
        </div>
        <div class="display-field">
            @Html.Raw(Model.Busmethod)
        </div>
        <br />
    </div>
    <div>
        @*<div class="display-label">
            @Html.DisplayName("ImageList")
        </div>*@
        <div class="display-field">
            <div>
                @Html.Partial("_imagePartial", Model.viewimages)
            </div>
        </div>
    </div>
</div>
<a href="#" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;">分享至 Facebook</a>
<br />
<br />
<div class="fb-comments" data-href="http://easytravelintaiwan.no-ip.info/Map/ViewPointDetails/@Model.Id" data-colorscheme="The color scheme used in the plugin" data-numposts="5" data-width="The pixel width of the plugin"></div>
<div class="hide">
    <p>
        @Html.ActionLink("Edit", "ViewPointEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ViewPointList")
    </p>
</div>

<script type="text/javascript">
    $('#AddToFavorite').click(function () {
        var id = $('#Sno').val();
        console.log(id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddToFavorite", "Map")",
            data: JSON.stringify({ userId: "@Session["UserId"]", placeId: id }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                if (data.Status == 1) {
                    alert(data.Message);
                    window.location.replace("/Map/ViewPointDetails/" + id);
                }
                else {
                    alert(data.Message);

                    window.location.replace("/Member/Login?ReturnUrl=%2fMap%2fViewPointDetails%2f" + id);
                }
            }
        });
    });
</script>
