@model EasyTravelInTaiwan.Models.PlaceDetail

@{
    ViewBag.Title = TempData["Title"] + "- Easy Travel In Taiwan";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


<h3>
    <ul class="breadcrumb">
        <li><a href="@Url.Action("CityViews", new { id = Model.Citynumber })">@Html.DisplayFor(model => model.Citynumber)</a> <span class="divider">/</span></li>
        <li class="active">@Html.DisplayFor(model => model.Name)</li>
    </ul>
</h3>
<hr />
<div id="slideShow" class="span5 pull-right ">
    @Html.Partial("_imageSlidePartial",  Model.viewimages )
</div>
<div id="AverageRatingPartial">
    @Html.Action("PlaceRatePartial", "Rating", new { sno = Model.Id })
</div>
<div>
    @Html.Hidden("Pt", (string)Session["Pt"])
    @Html.Hidden("Sno", (string)Session["Sno"])
    <div>
        <div class="display-label">
            <p>類型</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.type)
        </div>
        <br />
        <div class="display-label">
            <p>敘述</p>
        </div>
        <div class="display-field">
            @{
                @Html.Raw(Model.Description)
            }
        </div>
        <br />
        <div class="display-label">
            <p>連絡電話</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Telphone)
        </div>
        <div class="display-label">
            <p>地址</p>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
        <br />
        <div class="display-label">
            <p>網站連結</p>
        </div>
        <div class="display-field">
            <a target="_blank" href="@Html.DisplayFor(model => model.Url)">@Html.DisplayFor(model => model.Url)</a>
        </div>
        <br />
        <div class="display-label">
            <p>乘車資訊</p>
        </div>
        <div class="display-field">
            @Html.Raw(Model.Carmethod)
        </div>
        <div class="display-label">
            <p>其他方法</p>
        </div>
        <div class="display-field">
            @Html.Raw(Model.Busmethod)
        </div>
        <br />
    </div>
    <div>
        @*<div class="display-label">
            @Html.DisplayName("ImageList")
        </div>*@
        <div class="display-field">
            <div>
                @Html.Partial("_imagePartial", Model.viewimages)
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <p>
        @Html.ActionLink("Edit", "ViewPointEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ViewPointList")
    </p>
</div>
