@using BootstrapSupport
@using BootstrapSupport.HtmlHelpers
@model BootstrapSupport.HtmlHelpers.IPagedList<EasyTravelInTaiwan.Models.ResultView>
@*@model IPagedList<EasyTravelInTaiwan.Models.ResultView>*@

<div>
    <ul id="results">
        @foreach (EasyTravelInTaiwan.Models.ResultView item in Model)
        {                
            <li class="searchItemBorder">
                <div class="caption">
                    <h5>
                        @Html.ActionLink(item.Name, "ViewPointDetails", "Map", new { id = item.Id }, new { @class = "btn-link" })
                    </h5>
                </div>
                @if (ViewBag.Deletable == 0)
                {
                    <div class="pull-right">
                        <button name="DeleteFavoriteBtn" id="DeleteFavoriteBtn" value="@item.Id" class="btn">移除 <i class="icon-remove"></i></button>
                    </div>
                }
                <div class="row">
                    <div class="span3">
                        <a href="@Url.Action("ViewPointDetails", "Map", new { id = item.Id })" title="item.Name">
                            <img src="@Url.Action("RenderBookImage", "Search", new { id = item.Id, pt = item.Pt })" width="150" height="150" alt="@item.Name"/>
                        </a>
                    </div>
                    <div class="span8">
                        <br />
                        <div>
                            <p>位於： @item.cityName</p>
                            <p>屬於： @item.viewTypeName</p>
                            <p>地址:：@item.Address</p>
                        </div>
                        簡介：@Html.Raw(item.Description)
                        <a href="@Url.Action("ViewPointDetails", "Map", new { id = item.Id })" title="@item.Name">點我看詳細內容</a>
                    </div>
                </div>
                <hr />
            </li>
        }
    </ul>
    @*    @Html.Pager(Model.PageIndex,
            Model.TotalPages,
            x => Url.Action("FavoriteResultPartial", "Member", new { city = 1, type = 1, uId = 19, page = x }),
            "pagination-centered")*@

</div>

<script type="text/javascript">
    $('#DeleteFavoriteBtn').click(function () {
        var placeId = $(this).val();
        console.log(placeId);
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteFavoritePlace", "Member")",
            data: JSON.stringify({ UserId: "@Session["UserId"]", PlaceId: placeId, city: city, type: type }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#FavortieResultPartial').html(data);
            }
        });
    });
    @*$(document).on('click', '#DeleteFavoriteBtn', function () {
        var placeId = $(this).val();
        console.log(placeId);
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteFavoritePlace", "Member")",
            data: JSON.stringify({ UserId: "@Session["UserId"]", PlaceId: placeId, city: city, type: type }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#FavortieResultPartial').html(data);
            }
        });
    });*@
</script>
